.App {
  max-width: 800px;
  margin: 30px auto;
}

.App-header {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(5, 4, 4);
  text-align: center;
}

h1 {
  margin-bottom: 0;
  font-size: 45px;
}

h2 {
  text-align: center;
  font-weight: 300;
}

h4 {
  margin-top: 10px;
  font-weight: 300;
}

.Options {
  padding: 5px;
}

button {
  padding: 10px;
  margin: 20px auto;
  border-radius: 5px;
}
input {
  padding: 4px;
  margin-left: 10px;
}

select {
  padding: 4px;
}

footer {
  text-align: center;
  margin: 25px;
  font-size: 12px;
}
